/venv/
/.idea/
/dataset/download/
/__pycache__/
*/__pycache__/*
/dataset/script/__pycache__/
resources/upload_measures_checkpoint.json
resources/dataset/*
/runs/
/model/checkpoints/
/model/draws/
resources/credentials/*